body {
	background-color: #98e7b6;
}
h1 {
	color: gray;
}

h2 {
	color: #2b14aa;
	background-color: #98e7b6;
}

section {
	background-color: #98e7b6;
	color: #4114aa;
}
.czerwony {
	color:red;
}
#wiek{
	background-color: yellow;
}
/* p{
	color: blueviolet !important;
} */
 a{
	color: green;
 }
 section a{
	color: orange;
 }
.my-article p {
 background-color: pink;
 }
 .lastname{
	color: black;
 }
 #name {
	color: white;
 }