@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root {
	--fontColor: black;
	--backgroundColor: white;
}

body {
	background-color: aquamarine;
	background-image: url('gund.jpg');
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-family: "Playfair Display", serif;
}

.plan {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.form {
	color: var(--fontColor);
	background-color: var(--backgroundColor);
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	border: solid;
	padding: 1rem;
}

.topic {
	background-color: var(--backgroundColor);
	color: var(--fontColor);
	padding: 15px;
	border-width: 5px;
	border-color: red;
	border-radius: 10px;
	border-style: solid;
	font-size: 7px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;

	&__two {
		color: gold;


	}
}

.topic::before {
	content: "😺";

}

@keyframes kot {
	0% {

		transform: rotate(0deg);
	}

	50% {

		transform: rotate(-1440deg);
	}

	100% {

		transform: rotate(0deg);
	}
}
@keyframes kot2 {
	0% {
		transform: translate(13rem);

	}

	50% {
		transform: translate(-13rem);

	}

	100% {
		transform: translate(13rem);
	}
}

.cat {
	display: inline-block;
	font-size: 3rem;
	transform-origin: center center;
	animation: kot linear 8s infinite;
}
.cat2 {
	display: inline-block;

	transform-origin: center center;
	animation: kot2 linear 8s infinite;
}

//rotate(180dag)
//translate(13rem);
//.cat{
//transition: transform 5s ease-in-out;
//	transform-origin: center center;
//transform: translate(26rem) rotate(180deg);
//	transform: rotate(180deg);
//transform: translate(6rem);
//}
//.cat:hover{
//	transform: translate(26rem) rotate(180deg);
//}

.sekcja {
	box-sizing: border-box;
	background-color: var(--backgroundColor);
	border-width: 2px;
	border-color: red;
	border-radius: 10px;
	border-style: solid;
	margin: 20px;
	max-width: 100%;
	max-height: 100%;
	font-size: 16px;

	&__naglowek {
		color: var(--fontColor);
		padding: 30px;
		max-width: 250px;
		max-height: 100px;
		max-width: 500px;
		max-height: 100px;
		font-size: 100%;
	}

	&__akapit {
		color: var(--fontColor);
		padding: 40px;
		max-width: 250px;
		max-height: 100px;
		max-width: 250px;
		max-height: 300px;
		font-size: 50%;

	}

	&__link {
		box-sizing: border-box;
		background-color: var(--backgroundColor);
		border-width: 5px;
		border-color: red;
		border-radius: 10px;
		border-style: solid;
		margin: 20px;
		width: 100%;
		height: 100%;
		max-width: 450px;
		max-height: 1000px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 16px;
	}

	&__naglowekmaly {
		color: var(--fontColor);
		padding: 25px;
		max-width: 250px;
		max-height: 100px;
		max-width: 400px;
		max-height: 100px;

	}

	&__picture {
		display: block;
		max-width: 100%;
		border-width: 20px;
		border-color: red;
		border-radius: 100%;
		border-style: solid;

	}

}



.header {
	min-height: 50px;
	background: rebeccapurple;
	display: flex;
	justify-content: center;
}

.navigation {
	padding: 16px;
	background: rebeccapurple;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
	position: absolute;
	top: 50px;
	width: 100%;

	&--open {
		display: flex;
	}
}



.hamburger {
	padding: 4px;
	background: none;
	border: 0;
	font-size: 1.5rem;
	color: gold;
}



.sekcja__naglowek2 {
	color: var(--fontColor);
	background-color: var(--backgroundColor);
	font-size: 100%;
	max-width: 100%;
	max-height: 100px;
	border-width: 2px;
	border-color: red;
	border-style: solid;
	border-radius: 0%;
	font-size: 48px;
	grid-column: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.photo__grid {
	display: grid;
	grid-template-columns: "header"
		repeat(1, 1fr);
	row-gap: 2rem;
	column-gap: 2rem;
}

.sekcja__picture2 {
	display: block;
	min-width: 50%;
	max-width: 100%;
	border-width: 2px;
	border-color: red;
	border-radius: 0%;
	border-style: solid;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;

}

.topic__two__button {
	font-size: 16px;
}

@media screen and (min-width: 768px) {

	.topic {
		background-color: var(--backgroundColor);
		color: var(--fontColor);
		padding: 15px;
		border-width: 5px;
		border-color: red;
		border-radius: 10px;
		border-style: solid;
		font-size: 16px;


	}

	.sekcja {
		box-sizing: border-box;
		background-color: var(--backgroundColor);
		border-width: 5px;

		font-size: 48px;

	}

	.hamburger {
		display: none;
	}

	.navigation {
		padding: 16px;
		background: rgb(63, 1, 44);
		flex-direction: row;
		display: flex;
		justify-content: center;
		align-items: center;
		position: static;
		gap: 24px;
	}

	.topic__two {
		color: gold;

	}

	.photo__grid {
		display: grid;
		grid-template-columns: "header"
			repeat(3, 1fr);
		row-gap: 2rem;
		column-gap: 2rem;
	}


	textarea {
		width: 100%;
		height: 200px;
	}


	@media screen and (min-width: 1440px) {

		.topic {
			background-color: var(--backgroundColor);
			color: var(--fontColor);
			padding: 15px;
			border-width: 5px;
			border-color: red;
			border-radius: 10px;
			border-style: solid;
			font-size: 16px;


		}

		.sekcja {
			box-sizing: border-box;
			background-color: var(--backgroundColor);
			border-width: 5px;
			font-size: 48px;

		}

		.photo__grid {
			display: grid;
			grid-template-columns: "header"
				repeat(3, 1fr);
			row-gap: 2rem;
			column-gap: 18rem;
		}

		.sekcja__naglowek2 {
			font-size: 48px;
			grid-column: 1/4;
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
	}


}

@media (prefers-color-scheme: dark) {
	:root {
		--fontColor: white;
		--backgroundColor: black;
	}
}